<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <!-- Logo -->
    <div class="logo">
      <img src="/assets/img/logo-trabuka.png" alt="Logo Trabuka" (click)="goToHome()">
    </div>

    <!-- Navigation Menu -->
    <nav id="navbar" class="navbar" [class.navbar-mobile]="isMobileNavOpen">
      <ul>
        <li><a class="nav-link scrollto" (click)="goToHome()">Início</a></li>
        <li>
          <a (click)="goToEmpresas()" ><span>Para Empresas</span></a>
        </li>
        <li class="dropdown">
          <a (click)="toggleDropdown('estudantes ', $event)"><span>Estudantes e Profissionais </span> <i class="bi bi-chevron-down"></i></a>
          <ul [ngClass]="{'dropdown-active': activeDropdown === 'estudantes'}">
            <li><a (click)="goToBeneficios()">Benefícios de Participar</a></li>
            <li><a  (click)=" goToEncontrarEstagio()">Encontrar Estágios</a></li>

          </ul>
        </li>

         <li class="dropdown">
          <a ><span>Sobre </span> <i class="bi bi-chevron-down"></i></a>

          <ul [ngClass]="{'dropdown-active': activeDropdown === 'sobre'}">
            <li><a (click)="goToSobreTrabuka()">Sobre a Trabuka</a></li>
            <li><a (click)="goToBlogue()">Blogue</a></li>
          </ul>
        </li>
        <!-- Botões Entrar e Inscrever-se no menu mobile -->
        <li class="mobile-only"><a class="login-btn" (click)="goToLogin()">Entrar</a></li>
        <li class="mobile-only"><a class="get-started-btn" (click)="goToRegister()">Inscrever-se</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle" (click)="toggleMobileNav()"></i>
    </nav><!-- .navbar -->

    <!-- Call-to-Action Buttons (Desktop only) -->
    <div class="header-buttons desktop-only">
      <a class="login-btn scrollto" (click)="goToLogin()">Entrar</a>
      <a class="get-started-btn scrollto" (click)="goToRegister()">Inscrever-se</a>
    </div>
  </div>
</header><!-- End Header -->
