 <!-- ======= Para Empresas Section ======= -->
 <section id="para-empresas" class="solucoes-empresas">
  <div class="container" data-aos="fade-up">
    <div class="row align-items-center">
      <div class="col-lg-6" data-aos="fade-right">
        <div class="content">
          <span class="subtitle">Para Empresas</span>
          <h2>Conecte-se a Talentos em Angola</h2>
          <p class="lead">Publique projetos, acompanhe resultados e contrate Estudantes e Profissionais qualificados</p>

          <div class="benefits-list">
            <div class="benefit-item">
              <i class="ri-dashboard-line"></i>
              <div>
                <h4>Talentos Qualificados</h4>
                <p>Acesse Estudantes e Profissionais pré-validados por testes e projetos práticos.</p>
              </div>
            </div>

            <div class="benefit-item">
              <i class="ri-robot-line"></i>
              <div>
                <h4>Gestão Eficiente</h4>
                <p>Publique projetos e acompanhe o progresso em tempo real via dashboard interativo.</p>
              </div>
            </div>

            <div class="benefit-item">
              <i class="ri-money-dollar-circle-line"></i>
              <div>
                <h4>Contratação Simplificada</h4>
                <p>Receba entregas de qualidade e contrate talentos diretamente, reduzindo custos.</p>
              </div>
            </div>
          </div>

          <div class="cta-button">
            <a (click)="goToEmpresas()" class="btn-primary">Publique seu Projeto</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <div class="image-wrapper">
          <img src="assets/img/para-empresa.jpg" alt="Empresas" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
