
    <!-- ======= Inscrição Section ======= -->
    <section id="inscricao" class="inscricao">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3>Comece sua jornada profissional hoje mesmo!</h3>
            <p>Junte-se a milhares de estudantes e empresas que já estão transformando suas carreiras e negócios através da Trabuka. Desenvolva competências reais, construa seu portfólio e aumente sua empregabilidade com projetos práticos e estágios remotos supervisionados.</p>
            <div class="inscricao-btn align-self-start">
              <a class="btn btn-get-started" href="#">Começar Agora</a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-last d-flex align-items-center">
            <div class="img">
              <img src="assets/img/cta.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Inscrição Section -->
